[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
pytest = "*"
mkdocs = ">=1.5.0"
mkdocs-material = ">=9.4.0"
mkdocs-minify-plugin = ">=0.7.0"
mkdocs-git-revision-date-localized-plugin = ">=1.2.0"
mkdocs-git-committers-plugin-2 = ">=1.2.0"
mkdocstrings = {extras = ["python"], version = ">=0.24.0"}
mkdocs-autorefs = ">=0.5.0"
griffe = ">=0.38.0"
pymdown-extensions = ">=10.0"
mkdocs-redirects = ">=1.2.0"
mkdocs-awesome-pages-plugin = ">=2.9.0"

[dev-packages]
wl-version-manager = "*"
setuptools = "*"
twine = "*"
pytest = "*"

[requires]
